/*
 Theme Name:   Feyma Child Theme
 Template:     bootscore
 Version:      6.0.0
 Requires at least: 5.0
 Text Domain:  bootscore
*/

/* 
All style editing is done via /assets/scss/_bootscore_custom.scss
*/
