// Color system
// scss-docs-start gray-color-variables
$white:                           #fff;
$gray-100:                        #f8f9fa;
$gray-200:                        #e9ecef;
$gray-300:                        #E5E7EB;
$gray-400:                        #ced4da;
$gray-500:                        #adb5bd;
$gray-600:                        #6c757d;
$gray-700:                        #495057;
$gray-800:                        #343a40;
$gray-900:                        #2D2D2D;
$black:                           #000;

// scss-docs-start color-variables
$blue:                            #0d6efd;

$indigo:                          #3D3180;

$purple:                          #5F4B8B;

$pink:                            #d63384;
$red:                             #dc3545;
$orange:                          #fd7e14;

$yellow:                          #DC9C2E;

$green:                           #198754;
$teal:                            #20c997;
$cyan:                            #0dcaf0;

// scss-docs-start theme-color-variables
$primary:                         $indigo;
$secondary:                       $yellow;

$success:                         $green;
$info:                            $cyan;
$warning:                         $yellow;
$danger:                          $red;

$light:                           $gray-300;
$dark:                            $gray-900;

// Settings for the `<body>` element.
$body-bg:                         $white;
$body-color:                      $gray-900;

$body-tertiary-color:             rgba($body-color, .5);
$body-tertiary-bg:                $gray-100;

// Dark mode
$body-bg-dark:                    $gray-900;
$body-color-dark:                 $gray-500;

$body-tertiary-color-dark:        rgba($body-color-dark, .5);
$body-tertiary-bg-dark:           mix($gray-800, $gray-900, 50%);

// Navbar
$navbar-light-color:              rgba($black, .55);
$navbar-light-hover-color:        rgba($black, .7);
$navbar-light-active-color:       rgba($black, .9);


// Border radius
$border-radius:                   .375rem;
$border-radius-sm:                .25rem;
$border-radius-lg:                .5rem;
$border-radius-xl:                1rem;
$border-radius-2xl:               2rem;
$border-radius-pill:              50rem;

// Checkboxes
$form-check-input-border-radius:  .25em;


// Style anchor elements.
$link-decoration:                 underline;
$link-hover-decoration:           null;


// Headings & display
$headings-font-family:            null;
$headings-font-weight:            600;
$display-font-weight:             400;